body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 70%;
  margin: 7rem;
  background-color: #fff;
  border-radius: 15px;
}

form {
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  background-color: #FFBC7E;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: 'Lexend Deca';
  padding:15px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#recipeTitle,
#cookingTime,#imageInput {
  width: 350px;
  height: 50px;
}

#recipeDescription,
#recipeIngredients,
#recipeMethod {
  height: 100px;
  width: 350px;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lexend Deca';
  font-size: 20px;
}

button:hover {
  background-color: #001201;
}


.side-content {
  max-width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width:50%;
}

.side-content img {
  max-width: 100%;
  margin-bottom: 10px;
}

  h1 {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #333;
    font-family: 'Lexend Deca';
    margin-bottom: 20px;
  }
  
