<body>
  <div class="container">
      <form>
          <h1>Post a Recipe</h1>
          <p>
              <label for="recipeTitle">Recipe Title</label>
              <input type="text" id="recipeTitle" [(ngModel)]="recipe.title"/>
          </p>
          <p>
              <label for="recipeDescription">Recipe Description</label>
              <input type="text" id="recipeDescription" [(ngModel)]="recipe.description"/>
          </p>
          <p>
              <label for="recipeIngredients">Recipe Ingredients</label>
              <input type="text" id="recipeIngredients" [(ngModel)]="recipe.ingredients"/>
          </p>
          <p>
              <label for="recipeMethod">Recipe Method</label>
              <input type="text" id="recipeMethod" [(ngModel)]="recipe.method"/>
          </p>
          <p>
              <label for="cookingTime">Cooking time</label>
              <input type="text" id="cookingTime" [(ngModel)]="recipe.cookingTime"/>
          </p>
          <p>
              <label for="imageInput">Upload Picture</label>
              <input type="file" id="imageInput" accept="image/*" [(ngModel)]="recipe.imageInput">
          </p>
          <button id="publish">Publish</button>
      </form>
