<div class="image-contanier">

</div>
<ng-container class="container">
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>
                Amazing Burger recipe
            </mat-card-title>
            <mat-card-subtitle>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quidem?
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="burger-image" />
        <mat-card-content class="card-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi, illum ut consequuntur libero
                nobis
                aspernatur, labore consequatur id minus deserunt explicabo praesentium illo unde veritatis temporibus!
                Officiis, itaque nobis.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</ng-container>